# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://lnttjcfmuzlyxvpynwog.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxudHRqY2ZtdXpseXh2cHlud29nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzA4MDE5NDUsImV4cCI6MjA0NjM3Nzk0NX0.eY69lSaLBeZHrp-Mjp-4Km0m5uAieFULF2uepkVyjDE
